@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");

:root {
  --font-family: "Montserrat", sans-serif;
  --primary-color: #f6ffde;
  --bg-color: #aac8a7;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
}
body::before {
  background-image: url("img/code.png");
  background-position: center;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -100;
  opacity: 0.8;
}
h1 {
  font-size: 5em;
  margin: 0;
}
p {
  font-size: 1.5em;
}
.container {
  display: flex;
  align-items: center;
}
.container__conteudo {
  display: flex;
  align-items: center;
}
.container__botoes {
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: center;
}
.container__botao {
  border-radius: 16px;
  padding: 12px 15px;
  width: 20%;
  color: rgb(82, 82, 82);
  font-size: 20px;
  font-weight: 700;
  border: none;
  margin-top: 2rem;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}
.container__botao:active {
  transform: scale(0.98);
  background-color: rgb(220, 220, 220);
}
.container__input {
  width: 10%;
  height: 18px;
  border-radius: 16px;
  background-color: #fff;
  border: none;
  padding: 2rem;
  font-size: 24px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
.mensagem {
  font-size: 1.5em;
  margin-top: 40px;
}

@media only screen and (max-width: 800px) {
  body {
    margin: 0 20px;
  }
  h1 {
    font-size: 2em;
  }
  p {
    font-size: 1.2em;
  }
  .container__input {
    width: 10%;
    height: 15px;
    font-size: 20px;
    font-weight: 600;
  }
  .container__botao {
    padding: 14px 15px;
    width: 40%;
    font-size: 15px;
  }
}
